
<div class="container">
	<div class="row">
	<div class="slides">
    <ul> <!-- slides -->
        <li><img src="http://s18.postimg.org/9okd5u009/success_18715.jpg">
            <div>Promo text #1</div>
        </li>
        <li><img src="http://executivecareerbrand.com/wp-content/uploads/2015/06/businessman-479573_640.jpg">
            <div>Promo text #2</div>
        </li>
        <li><img src="http://www.thecubiclechick.com/wp-content/uploads/2011/09/success.jpg">
            <div>Promo text #3</div>
        </li>
        <li><img src="http://img11.hostingpics.net/pics/601549194.jpg">
            <div>Promo text #4</div>
        </li>
    </ul>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- animation social -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9155049400353686"
     data-ad-slot="2205382250"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

	</div>
</div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://image.freepik.com/freie-ikonen/wegweiser_318-84162.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>福州源利明珠A座</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://findicons.com/files/icons/1743/ecqlipse/128/mail.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>yuziyao2007@163.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://cdn-img.easyicon.net/png/11400/1140033.gif" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>0591-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
