
<div class="jumbotron">
    <h1 class="title">SUCCESS</h1>
    <p class="slogan">这里是你梦想启航的地方
    <br>
    这里是你梦想实现的地方
    <br>
     这里能助你快速找到战友
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://image.freepik.com/freie-ikonen/wegweiser_318-84162.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>福州源利明珠A座</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://findicons.com/files/icons/1743/ecqlipse/128/mail.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>yuziyao2007@163.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://cdn-img.easyicon.net/png/11400/1140033.gif" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>0591-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
